<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.frontierfield.ganreco">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="がんレコ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".A1_A2_A3_WalkThrough" />
        <activity android:name=".A4_RegistryUser" />
        <activity android:name=".A5_RegistryPrecomplete" />
        <activity android:name=".A7_RegistryComplete" />
        <activity android:name=".A9_ForgotPassword" />
        <activity android:name=".B0_CancerTypeSelect" />
        <activity android:name=".B1_2_GanrecoMain" />
        <activity android:name=".b3_input"></activity>
        <activity android:name=".c1_2mypage" />
        <activity android:name=".C3_UserInfo" />
        <activity android:name=".d1help" />
        <activity android:name=".d5taikai" />
        <activity
            android:name=".e_f_g_h_mainmenu"
            android:label="@string/title_activity_e_f_g_h_mainmenu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".E3_Input"></activity>
        <activity android:name=".F4_Input"></activity>
        <activity android:name=".G4_Input"></activity>
        <activity android:name=".H6_Input"></activity>
        <activity android:name=".F5_G5_H7_Enlarge"></activity>
    </application>

</manifest>